.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperTitle {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.wrapperDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.error {
  color: black;
  text-align: center;
  font-size: xx-large;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.goBack:hover,
.goBack:focus,
.link:hover,
.link:focus {
  color: red;
}

.goBack {
  margin-left: 27%;
}
